<template>
    <div :style="{ backgroundColor: bgColor }">
        <div id="app">
            <header ref="headerRef">
                <router-link to="/">
                    <button @click="changeBackgroundColor">{{$t('nightmare.background.change')}}</button>
                    <button ref="buttonRef">{{$t('nightmare.background.back')}} </button>
                </router-link>
                <h1>Informations sur l'Écologie</h1>
                <nav>
                    <ul>
                        <li><button href="#section1" ref="section1Ref">{{$t('nightmare.sections[0]')}}</button></li>
                        <li><button href="#section2" ref="section2Ref">{{$t('nightmare.sections[1]')}}</button></li>
                        <li><button href="#section3" ref="section3Ref">{{$t('nightmare.sections[2]')}}</button></li>
                    </ul>
                </nav>
            </header>

            <main>
                <section id="section1">
                    <h2>{{$t('nightmare.sections[0]')}}</h2>
                    <p>{{$t('nightmare.contents[0][0]')}}</p>
                    <p>{{$t('nightmare.contents[0][1]')}}</p>
                </section>

                <section id="section2">
                    <h2>{{$t('nightmare.sections[1]')}}</h2>
                    <p>{{$t('nightmare.contents[1][0]')}}</p>
                    <p>{{$t('nightmare.contents[1][1]')}}</p>
                </section>

                <section id="section3">
                    <h2>{{$t('nightmare.sections[2]')}}</h2>
                    <p>{{$t('nightmare.contents[2][0]')}}</p>
                    <p>{{$t('nightmare.contents[2][1]')}}</p>
                </section>
            </main>

            <footer>
                <p>{{$t('nightmare.info')}}</p>
            </footer>
        </div>
    </div>
</template>
  
<script setup>
import { ref, onMounted } from 'vue';

const bgColor = ref('#000000'); // Initial background color

const changeBackgroundColor = () => {
  bgColor.value = '#' + Math.floor(Math.random() * 16777215).toString(16); // Generates a random color in hexadecimal format
};

const buttonRef = ref(null);
const section1Ref = ref(null);
const section2Ref = ref(null);
const section3Ref = ref(null);
const headerRef = ref(null);
const allElements = document.querySelectorAll('*');

const randomizeButtonPosition = (element) => {
    const windowHeight = window.innerHeight;
    const windowWidth = window.innerWidth;

    const randomX = Math.random() * (windowWidth - 100); // 100 is the button width
    const randomY = Math.random() * (windowHeight - 100); // 100 is the button height
    if (element) {
        element.style.position = 'absolute';
        element.style.top = `${randomY}px`;
        element.style.left = `${randomX}px`;
    }
};

const randomizeALotOfThings = (element) => {
    const randomColor = '#' + Math.floor(Math.random() * 16777215).toString(16); // Générer une couleur hexadécimale aléatoire
    const randomHeight = Math.floor(Math.random() * 300);
    const randomWidth = Math.floor(Math.random() * 300);
    if (element) {
        element.style.backgroundColor = randomColor; // Changer la couleur de l'élément
        element.style.color = getRandomTextColor(randomColor);
        element.style.height = `${randomHeight}px`; // Set the random height in pixels
        element.style.width = `${randomWidth}px`; // Set the random width in pixels
    }
};

function randomBackgroundColor(element) {
  const randomColor = '#' + Math.floor(Math.random() * 16777215).toString(16); // Generates a random color in hexadecimal format
  if (element) {
    element.style.backgroundColor = randomColor; // Changes the background color of the element
  }
}

const getRandomTextColor = (backgroundColor) => {
    // Calculate the brightness of the background color
    const r = parseInt(backgroundColor.substring(1, 3), 16);
    const g = parseInt(backgroundColor.substring(3, 5), 16);
    const b = parseInt(backgroundColor.substring(5, 7), 16);
    const brightness = (r * 299 + g * 587 + b * 114) / 1000;
    return brightness > 128 ? '#000' : '#fff'; // Set text color based on brightness threshold
};

const randomAction = (random_value) => {
    if (random_value === 1) {
        console.log(allElements);
        allElements.forEach((element) => {
            element.style.transform = `rotate(${(Math.floor(Math.random() * 360) + 1).toString()}deg)`
        })
    }
    else if (random_value === 2) {
        allElements.forEach((element) => {
            element.style.direction = 'rtl'
        })
    }
    else if (random_value === 3) {
        allElements.forEach((element) => {
            element.style.opacity = Math.random();
        })
    }
    else if (random_value === 4) {
        allElements.forEach((element) => {
            element.style.borderRadius = "75%";
        })
    }
}

const myElement = document.getElementById('yourElementId');
randomBackgroundColor(myElement);

document.addEventListener('DOMContentLoaded', function () {
    const myLink = document.getElementById('section1');
    myLink.addEventListener('click', function () {
        this.style.fontSize = `${(Math.floor(Math.random() * 10) + 1).toString()}em`; // Taille de police 10x plus grande
    });
});

document.addEventListener('DOMContentLoaded', function () {
    const myLink = document.getElementById('section2');
    myLink.addEventListener('click', function () {
        this.style.fontSize = `${(Math.floor(Math.random() * 10) + 1).toString()}em`; // Taille de police 10x plus grande
    });
});

document.addEventListener('DOMContentLoaded', function () {
    const myLink = document.getElementById('section3');
    myLink.addEventListener('click', function () {
        this.style.fontSize = `${(Math.floor(Math.random() * 10) + 1).toString()}em`; // Taille de police 10x plus grande
    });
});

onMounted(() => {
    randomizeButtonPosition(buttonRef.value);
    randomizeButtonPosition(section1Ref.value);
    randomizeButtonPosition(section2Ref.value);
    randomizeButtonPosition(section3Ref.value);
    randomizeALotOfThings(buttonRef.value);
    randomizeALotOfThings(section1Ref.value);
    randomizeALotOfThings(section2Ref.value);
    randomizeALotOfThings(section3Ref.value);
    randomizeALotOfThings(headerRef.value);
    let randomNumber = Math.floor(Math.random() * 2) + 1;
    randomAction(randomNumber)

});

document.addEventListener('keydown', function (event) {
  if (event.code === 'Space') {
    // Reset styles for all elements
    allElements.forEach((element) => {
      element.style.transform = '';
      element.style.direction = '';
      element.style.fontSize = '';
      element.style.height = '';
      element.style.width = '';
      element.style.backgroundColor = '';
    });
  }
});
</script>
  
<style scoped>
* {
    margin: 0;
    padding: 0;
}

/* Styles pour le header */
header {
    background-color: #2ecc71;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Styles pour le main */
main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Styles pour le footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #3498db;
    /* Couleur bleue pour un contraste */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
    /* Changement de couleur au survol */
    transform: translate(100px, 100px);
    transition: transform 0.25s ease;
}
</style>
  