<template>
  <img src="../assets/TETRISélectif.png" style="max-height:75px">
  <section class="menu">
    <section class="rules">
      <h2>{{$t('tetris.rules[0]')}}</h2>
      <p>{{$t('tetris.rules[1]')}}</p>
      <p>{{$t('tetris.rules[2]')}}</p>
      <section class="commandes">
        <article class="icone">
          <img src="../assets/left.png">
        </article>
        <article class="text">
          <p>{{$t('tetris.movements[0]')}}</p>
        </article>
      </section>
      <section class="commandes">
        <article class="icone">
          <img src="../assets/right.png">
        </article>
        <article class="text">
        <p>{{$t('tetris.movements[1]')}}</p>
        </article>
      </section>
      <section class="commandes">
        <article class="icone">
          <img src="../assets/down.png">
        </article>
        <article class="text">
        <p>{{$t('tetris.movements[2]')}}</p>
        </article>
      </section>
      <section class="commandes">
        <article class="icone">
          <img src="../assets/up.png">
        </article>
        <article class="text">
        <p>{{$t('tetris.movements[3]')}}</p>
        </article>
      </section>
    </section>
    <section class="table">
      <div style="padding-bottom: 20px;font-size:20px;">{{$t('tetris.score')}} {{score}}</div>
      <div id="gameStatus"></div>
      <table id="grid" class="tetris-grid">
        <tr v-for="(row,rowIndex) in rows" :key="rowIndex">
          <td v-for="(col,colIndex) in cols" :key="''+rowIndex+colIndex" :class="getSquareBackground(rowIndex,colIndex)"></td>
        </tr>
      </table>
      <button @click.stop="isPlaying=!isPlaying">{{ isPlaying ? 'stop' : 'start' }}</button>
    </section>
  </section>
</template>

<script setup>
  import { ref, watch } from "vue";
  import { Tetromino } from "../Tetromino.js"
  const rows = 20;
  const cols = 15;
  const currentTetromino = ref(null);
  const score = ref(0);
  const isPlaying = ref(false);
  const placedTetrominoCubes = ref({});
  let gameStatus;
  window.addEventListener('keydown', (e) => {
    if(!currentTetromino.value) {
      return;
    }
    if (e.key === 'ArrowLeft' && canPerformMovement(0,-1)) {
      currentTetromino.value.deplace(0,-1)
    }
    else if (e.key === 'ArrowRight' && canPerformMovement(0,1)) {
      currentTetromino.value.deplace(0,1)
    }
    else if (e.key === 'ArrowUp'){
      currentTetromino.value.Rotation();
    }
    else if (e.key === 'ArrowDown'){
      if(canPerformMovement(1,0)){
        currentTetromino.value.deplace(1)
      }
    }
  });
  function gameLoop()
  {

    if(!isPlaying.value)
    {
      return
    }

    if(!currentTetromino.value)
    {

      checkIfLineComplete();
      currentTetromino.value = new Tetromino(getRandomColor(),getRandomShape());

    }
    if(canPerformMovement(1,0)){
      currentTetromino.value.deplace(1)
    }
    else{
      currentTetromino.value.members.forEach(member =>{
        placedTetrominoCubes.value[member.row] = placedTetrominoCubes.value[member.row] ?? {}
        placedTetrominoCubes.value[member.row][member.col] = true;
      })
      if (!checkIfEndPosIsValid()){
        isPlaying.value=false;
        gameStatus.innerText="GAME OVER";
      };
      currentTetromino.value=null;
          }
    setTimeout(gameLoop, 250);
  }

  watch(isPlaying,gameLoop)
  watch(isPlaying,resetMap)
  function resetMap()
  {
    gameStatus = document.getElementById("gameStatus")
    gameStatus.innerText = "GAME OVER";
    if(!isPlaying.value)
    {
      return
    }
    score.value = 0
    currentTetromino.value = null;
    placedTetrominoCubes.value = {};
    gameStatus.innerText="";
  }
  function getRandomColor()
  {
    const colorIndex = Math.floor(Math.random() * 3);
    switch(colorIndex) {
      case 0 :
        return "yellow"
      case 1 :
        return "blue"
      case 2 :
        return "green"
    }
  }

  function canPerformMovement(row,column) {
    for(const member of currentTetromino.value.members){
      const newMemberColumn = member.col+column
      const newMemberRow = member.row+row
      if(
          newMemberColumn<0 ||
          newMemberColumn>14 ||
          newMemberRow>19 ||
          (placedTetrominoCubes.value[newMemberRow]&&placedTetrominoCubes.value[newMemberRow][newMemberColumn])
      ){
        return false
      }
    }
    return true
  }
  function getRandomShape(){
    const shapeIndex = Math.floor(Math.random() * 7);
    switch(shapeIndex) {
      case 0 :
        return "o"
      case 1 :
        return "z"
      case 2 :
        return "s"
      case 3 :
        return "l"
      case 4 :
        return "j"
      case 5 :
        return "t"
      case 6 :
        return "i"
    }
  }

  function checkIfEndPosIsValid(){
    for(let i=0; i<currentTetromino.value.members.length;i++){
      switch(currentTetromino.value.color){
        case "green":
            if(currentTetromino.value.members[i].col < 10) {
              return false;
            }
            break;
        case "blue":
          if(currentTetromino.value.members[i].col < 5 || currentTetromino.value.members[i].col > 9) {
            return false;
          }
          break;
        case "yellow":
          if(currentTetromino.value.members[i].col > 4){
            return false;
          }
          break;

      }
    }
    return true;
  }
  function checkIfLineComplete() {
    let listCompleteRow = [];
    for (let i = 0; i < rows; ++i) {
      let bool = true;
      for (let j = 0; j < cols; ++j) {
        if (placedTetrominoCubes.value[i] === undefined || placedTetrominoCubes.value[i][j] === undefined) {
          bool = false;
          break;
        }
      }
      if (bool) {
        listCompleteRow.push(i);
      }
    }

    for (let i = rows - 1; i >= 0; --i) {
      if (listCompleteRow.includes(i)) {
        for (let k = i; k > 0; --k) {
          placedTetrominoCubes.value[k] = placedTetrominoCubes.value[k - 1];
        }
        score.value+=1;
        placedTetrominoCubes.value[0] = new Array(cols);
      }
    }
  }

  function getSquareBackground(rowIndex,colIndex) {
    if(placedTetrominoCubes.value[rowIndex]&&placedTetrominoCubes.value[rowIndex][colIndex]){
      if(colIndex < 5)
      {
        return 'tetris-cube-yellow';
      }
      if(colIndex < 10 )
      {
        return 'tetris-cube-blue';
      }
        return 'tetris-cube-green';
    }
    if(currentTetromino.value)
    {
      for(const member of currentTetromino.value.members){
        if(member.row === rowIndex && member.col === colIndex)
        {
          return 'tetris-cube-'+currentTetromino.value.color;
        }
      }
    }
    if(colIndex < 5 )
    {
      return 'tetris-yellow-grid';
    }
    if(colIndex < 10 )
    {
      return 'tetris-blue-grid';
    }
      return 'tetris-green-grid';
  }
</script>

<style scoped>
.tetris-grid{
  border:solid 1px white;
}
.menu{
  display: flex;
}
.rules, .table{
  margin:20px;
}
.rules{
  max-width:300px;
}
.icone{
  align-items: center;
  display: flex;
  margin: 8px;
}
.commandes{
  display: flex;
  justify-content: center;
  align-content: center;
}
#gameStatus{
  font-size:20px;
  color:red;
  margin-bottom:8px;
}
.text{
  width: 200px;
}
.tetris-grid td{
  height: 26px;
  width: 26px;
}
.tetris-blue-grid{
  background-color: rgba(57, 245, 245, 0.5);
}
.tetris-yellow-grid{
  background-color: rgba(255, 255, 0, 0.75);
}
.tetris-green-grid{
  background-color: rgba(0, 229, 0, 0.75);
}

.tetris-cube-green{
  background-color: green;
}
.tetris-cube-yellow{
  background-color: yellow;
}
.tetris-cube-blue{
  background-color: blue;
}

</style>