<script>
export default {
  name: 'locale-changer',
  data () {
    return { langs: ['fr', 'en'] }
  }
}

</script>

<template>
  <div class="language-selector">
    <select v-model="this.$i18n.locale">
      <option v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang">
        {{ lang }}
      </option>
    </select>
  </div>
<router-view></router-view>
</template>

<style scoped>
.language-selector {
  position: absolute;
}
</style>
